<% content_for :title do %><%= @profile.full_name %><% end %>

<%= content_for :profile do %>
  <%= render "profile" %>
<% end -%>
        
<%= content_for :main do %> 
  <div class="media-container w-[550px] h-full flex flex-col mb-2 gap-2">
     <%= render "images" %>

     <%= turbo_frame_tag "new_post", class: "flex flex-col w-full" do %>
        <%= render partial: "posts/new_post" %>
     <% end %>

     <div class="b-posts w-full h-auto border-1 border-gray-400/50 bg-white rounded-xl text-sm mt-2">
        <%= turbo_stream_from "posts" %>
                <div id="posts-container">
                  <% if @posts.any? %>
                     <%= render @posts.includes(:user).order(created_at: :desc) %>
                  <% else %>
                     <%= render partial: "shared/posts/missing_posts", locals: {msg: post_msessage(@profile)} %>
                  <% end %> 
                </div>
      </div>

  </div> 
<% end -%>

<%= content_for :friends do %>
   <%= render "profile_friends" %>
<% end -%>
