<% content_for :title do %>friends<% end %>
   <%= content_for :main do %>     
			  <div class="b-friends min-h-56 w-[550px] border border-gray-400/50 bg-white rounded-xl p-6 text-sm flex grow-1">
						  <div class="friends-container flex w-full flex-col">
							  	<% unless @profile.friends.any? %>

											  <div class="flex flex-col justify-center items-center w-full h-full text-gray-500">
											    <p class="text-3xl font-semibold mb-2">No friends</p>
											    <% unless @profile == current_user %>
											    	<p class="text-base text-gray-400">User currently don’t have any friends.</p>
											    	<% else %>
											    		<p class="text-base text-gray-400">You currently don’t have any friends. (do you?)</p>
											    	<% end -%>
											  </div>

								    <% else %>
									   		<% if @profile == current_user %>
									     			<h2 class="text-2xl font-semibold text-gray-800 mb-4">All Friends <span class="text-gray-400">(<%= @profile.friends.size %>)</span></h2>
									     	<% else %>
									     			<h2 class="text-2xl font-semibold text-gray-800 mb-4"><%= @profile.full_name.split[0]%>'s Friends <span class="text-gray-400">(<%= @profile.friends.size %>)</span></h2>
									     	<% end -%>
								  <% end -%>  

								  	<%= render partial: "friends", collection: @profile.friends, as: :friend %>
						  </div>
 			 </div>
<% end -%>


 <% if @profile.id == current_user.id %>
	 	<%= content_for :invitations do %>
       <%= render "invites" %>
 		<% end -%>  
<% else %>	    
		<%= content_for :invitations do %>
      		<div class="b-right-sidebar grow-1 text-end p-2">
              <%= render partial: "shared/right-sidebar" %>
           </div>
 		<% end -%>  

<% end -%>
