<% content_for :title do %>friends<% end %>

<div class="min-h-screen bg-gray-200 w-full flex justify-center mt-12">
  <div class="b-center flex w-6xl h-full">

    <div class="b-left-sidebar w-sm mt-4">
      <%= render partial: "shared/sidebar" %>
    </div> 

     <div class="b-center w-4xl pt-4 pl-2 pr-2 pb-4 flex flex-col gap-4">
        
			  <div class="b-friends w-full min-h-56 border border-gray-400/50 bg-white rounded-xl p-6 text-sm">
						  <div id="friends-container">
						  	<% unless @profile.friends.any? %>
							    <div class="h-full flex flex-col justify-center items-center text-gray-500 px-4 py-12">
												  <div class="text-center">
												    <p class="text-3xl font-semibold mb-2">No friends</p>
												    <% unless @profile == current_user %>
												    	<p class="text-base text-gray-400">User currently don’t have any friends.</p>
												    	<% else %>
												    		<p class="text-base text-gray-400">You currently don’t have any friends. (do you?)</p>
												    	<% end -%>
												  </div>
												</div>
							    <% else %>
							   		<% if @profile == current_user %>
							     		<h2 class="text-2xl font-semibold text-gray-800 mb-4">All Friends <span class="text-gray-400">(<%= @profile.friends.size %>)</span></h2>
							     	<% else %>
							     		<h2 class="text-2xl font-semibold text-gray-800 mb-4"><%= @profile.full_name.split[0]%>'s Friends <span class="text-gray-400">(<%= @profile.friends.size %>)</span></h2>
							     	<% end -%>
							    <%= render "friends", friends: @friends %>
							  <% end -%>  
						  </div>
						</div>
 			 </div>


 			 <% if @profile.id == current_user.id %>
			    <div class="b-right w-2xl h-auto pt-4 pl-4 pb-4 flex flex-col gap-2">
			        <div class="b-friend-requests w-full h-96 border-1 border-gray-400/50 bg-white rounded-xl text-sm">
			          	
			        	<% if current_user.received_invitations.any? %>
				              <% current_user.received_invitations.each do |invitator| %>
				              <% request = find_invitations(invitator, current_user) %>
				            <div class="container flex gap-2 w-sm">
				            	<%= image_tag invitator.avatar_url, class: "w-[40px]" %>
												<p><%= invitator.full_name %></p>
												<%= button_to "accept", friend_request_path(request), method: :patch %>
												<%= button_to "decline", friend_request_path(request), method: :delete, redirect_to: profile_path(current_user) %>
												
										</div>
				              <% end -%>
				        <% else %>
				          <div class="h-full flex flex-col justify-center items-center text-gray-500 px-4 py-12">
									  <div class="text-center">
									    <p class="text-3xl font-semibold mb-2">No Invitations</p>
									    <p class="text-base text-gray-400">You currently don’t have any pending invites.</p>
									  </div>
									</div>

				        <% end -%>         
			      </div>

	    <% else -%>
	    <div class="b-right w-lg h-auto pt-4 pl-4 pb-4 flex flex-col gap-2">
	        <div class="b-friend-requests w-full h-96">
	      </div>
	    </div>
     <% end -%>

  </div>
</div>

       
