<%= turbo_stream_from comment %>

<%= turbo_frame_tag comment do %>
		<div class="flex justify-between">
			<div><%= comment.user.full_name %></div>
			<div><%= link_to "Edit", edit_comment_path(comment)%>
				<%= link_to "Delete", comment_path(comment), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
			</div>
		</div>
		<%= comment.body %>
		<hr />
<% end -%> 
