<% model = [local_assigns[:commentable], comment].compact %>


<%= form_with model: model, id: dom_id_form_records(*model),
 data: local_assigns[:data], 
 class: ["ml-4"] + Array.wrap(local_assigns[:class]) do |form| %>

	<% if form.object.errors.any? %>
		<div>
			<% form.object.errors.full_messages.each do |message|%>
				<div><%= message %></div>
			<% end -%>
		</div>
	<% end -%>

	<%= form.text_area :body %>
	<%= form.submit class: "text-blue-700 cursor-pointer" %>
	<%= link_to "Cancel", comment, class: "bg-red400" if form.object.persisted? %>
<% end -%>

