
<div class="card ml-5 relative flex flex-col">

  <div class="p-1 border-b-1 border-gray-400 flex flex-col">
    <div class="b-content flex gap-2 mb-2">
       <div class="b-image">
          <%= image_tag reply.user.avatar_url, class: "w-[40px] h-[40px] [clip-path:circle(40%)]" %>
       </div>

       <div class="user-body flex flex-col">
        <div class="container">
          <%= reply.user.full_name %>
        </div>
        
        <div class="container text-sm">
           <%= reply.body %>
        </div>
       
        </div>
    </div>
   
    
    <div class="link">
       <span><%= time_ago_in_words(reply.created_at) %>&nbspago</span>
      <%= turbo_frame_tag "reply_" do %>
        <%= link_to 'reply', new_post_comment_path(@post, parent_id: reply.id), remote: true, class: 'text-blue-700 cursor-pointer' %>
       <% end -%>  
    </div>
    
  </div>

  
   <% if reply.replies.any? %>
  
      <% reply.replies.each do |nested_reply| %>
       <div class="reply ml-2">
          <%= render partial: 'comments/reply', locals: { reply: nested_reply } %> 
        </div>
      <% end -%>  
  <% end %>
   
 
</div>
