<%= content_for :login do %>
<div class="b-forgot flex flex-col w-full flex flex-col justify-center items-center mt-18 grow-2">
  <div class="b-header mt-12">
    <h2 class="text-3xl mb-4 pb-4 text-center text-gray-700 font-semibold">Forgot your password?</h2>
  </div>

  <div class="bg-[#ffffff] rounded-xl shadow-md flex flex-col justify-around p-4 g-4">
     <div class="b-go-back mb-4">
      <span>&#8592;</span> 
      <%= link_to "Back", new_session_path(resource_name), class: "text-blue-400" %><br />
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-2 flex flex-col gap-[2px]">
            <%= f.label :email, "Email address"%>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: " text-sm border-1 border-gray-200/50 focus:border-blue-500/50 rounded-sm w-96 h-[30px] w-[310px] pl-2 bg-gray-100 mb-4 placeholder:italic", placeholder: "johndoe@email.com" %>
          </div>


      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "actions bg-blue-400 rounded-sm shadow-md text-center p-1 text-white cursor-pointer w-full" %>
      </div>
    <% end %>
  </div>
</div>  
<% end -%>