<div class="p-2">
      <%= form_with(model: [@post, @post.comments.build], class: "space-y-4") do |f| %>
        <div class="">
          <div class="b-title mb-2">
             <%= f.label :body, 'New comment', class: 'text-lg font-medium text-gray-700' %>
          </div>
         
          <div class="reply-form flex justify-between items-start gap-2">
            <div class="b-input grow-1">
                <%= f.text_area :body, placeholder: "your comment here", class: 'text-gray-900 block w-full rounded-md border-gray-300 shadow-sm h-[30px] focus:ring-indigo-500 focus:border-indigo-500 p-2' %>
            </div>
             <div class="b-create-reply">
              <%= f.submit 'add', class: 'items-center bg-blue-600 h-[30px] p-2 border border-transparent rounded-md text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500' %>
            </div>
          </div>
            
        </div>
        
      <% end %>

      <div class="mt-6 space-y-2">
        <%= render @post.comments.order(created_at: :desc) %>
      </div>
  </div>