<div class="bg-[#ffffff] rounded-xl shadow-md col-start-6 col-end-8 row-start-3 row-end-9 flex flex-col w-[360px] min-h-96 justify-start items-center g-4">

   <div class="b-login pt-12">
      <div class="b-header">
         <h2 class="text-2xl mb-4 pb-4 text-center">Sign in to <b class="text-blue-400">Odinbook</b></h2>
      </div>

    

   <div class="b-credentials flex flex-col">
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-2 flex flex-col gap-[2px]">
          <%= f.label :email, "Email address"%><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: " text-sm border-1 border-gray-200/50 focus:border-blue-500/50 rounded-sm w-96 h-[30px] w-[310px] pl-2 bg-gray-100 placeholder:italic", placeholder: "johndoe@email.com" %>
        </div>

        <div class="field mb-2 field mb-4 flex flex-col gap-[2px]">
          <%= f.label :password, class: "" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "text-sm border-1 border-gray-200/50 focus:border-blue-500/50 rounded-sm h-[30px] w-[310px] pl-2 bg-gray-100 placeholder:italic", placeholder: "********" %>
        </div>

        <%= render "devise/shared/notice" %>

        <div class="b-remememberable-forgot flex justify-between text-sm mb-2 text-gray-800">
          <% if devise_mapping.rememberable? %>
          <div class="field mb-2">
            <%= f.check_box :remember_me, class: "accent-blue-500" %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

          <div class="forgot-password underline">
                <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                <% end %>
          </div>
        </div>
        

    
          <%= f.submit "Sign in", class: "actions bg-blue-400 rounded-sm shadow-md text-center p-1 text-white cursor-pointer w-full" %>
     
      <% end %>

      <div class="relative order-1 mt-4">
        <div class="absolute inset-0 flex items-center">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center text-sm">
          <p class="bg-white dark:bg-gray-800 px-2 text-gray-500 dark:text-gray-400">Or continue with</p>
        </div>
      </div>
       <%= render "devise/shared/links" %>
   </div>  
    

      

      
</div>

            