<%= turbo_frame_tag dom_id(post) do %>
  <div class="post mb-2" data-controller="comments">
    <div class="container flex justify-between items-start p-2">
      <div class="b-left text-xs font-semibold">
        <%= link_to profile_path(post.user), data: { turbo_frame: "_top" } do %>
          <img src="<%= avatar_url(post.user) %>" alt="" class="inline mr-2 [clip-path:circle(40%)] w-[50px]">
          <span><%= post.user.full_name %></span>
        <% end -%>
      </div>
      <% if created_by_current_user? (post) %>
        <div class="b-actions flex gap-2  mt-2">
            <%= link_to "edit", edit_post_path(post.id), class: "text-blue-600 hover:text-blue-800" %>
            <%= button_to "delete", post_path(post), method: :delete, class: "text-blue-600 cursor-pointer hover:text-blue-800", data: {turbo_frame: "_top"} %>
        </div>
      <% end -%>
    </div>
   
    <h2 class="font-semibold text-md pl-2 pb-2 overflow-x-hidden"><%= post.title %></h2>
    <!-- Post image -->
      <%= post_url(post)%>
    <p class="p-2 break-all"><%= post.body %></p>
    
    <div class="b-bottom flex justify-between items-center pl-2 pr-2 pb-2">
      <div class="b-time text-xs font-semibold">
        <%= post.updated_at.to_formatted_s(:short) %>
      </div>

      <div class="b-likes flex text-blue-700">
        
        <div class="mr-2 flex gap-1">
          <%= post.likes.size %> 

            <% if post.likes.exists?(user_id: current_user_id) %>
              <%= button_to "unlike", unlike_post_path(post),method: :delete, class: "" %>
            <% else %>
              <%= button_to "like", like_post_path(post), method: :post%>
            <% end -%>
  
        </div>

        <div class="flex gap-2 items-center">
          <%= link_to "comments", post_path(post), data: {turbo_frame: "show_#{post.id}_comments", action: "click->comments#toggle"} %>
          <div><%= count_post_comments(post) %></div>
        </div>

      </div>
    </div>

    <div class="" id="post_<%= post.id %>_comments" data-comments-target="post_comments">
     <%= turbo_frame_tag "show_#{post.id}_comments"%>
    </div>  
  </div>
<% end -%>