<% content_for :title do %>feed<% end %>

<%= content_for :main do %>
<div class="container flex flex-col w-[550px] gap-2">
    <%= render "new_post" %>
    
    <div class="b-posts w-full h-auto border-1 border-gray-400/50 bg-white rounded-xl text-sm overflow-y-auto">
        <%= turbo_stream_from "posts" %>
        <div id="posts-container">
            <% if @posts.any? %>       
                <%= render @posts.includes(:user, :likes, :comments).order(created_at: :desc) %>
            <% else %>
                 <%= render partial: "shared/posts/missing_posts", locals: {msg: post_msessage(current_user)} %>
            <% end -%>
        </div>
    </div>
</div>    
<% end -%>

<%= content_for :modal do %>
    <%= turbo_frame_tag "new_post" %>
<% end -%>


<%= content_for :right_sidebar do %>
    <div class="b-right-sidebar grow-1 text-end p-2">
      <%= render partial: "shared/right-sidebar" %>
   </div>
<% end -%>

<%= content_for :notice do %>
    <%= render partial: "/shared/notice" %>
<% end -%>
<%= content_for :info do %>
    <%= render partial: "/shared/info" %>
<% end -%>