<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Odinbook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <div class="grid grid-cols-12 grid-rows-12 h-dvh">
        <div class="bg-[#ffffff] rounded-xl shadow-md col-start-6 col-end-8 row-start-3 row-end-9 flex flex-col w-[360px] h-[510px] justify-center items-center g-4">
         <% flash.each do |name, msg| -%>
            <% if name == "alert" %>
              <%= content_tag :div, msg, class: "p-2 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 role='alert' absolute top-45" %>
            <% else -%>
               <%= content_tag :div, msg, class: name %>
            <% end -%>
         <% end -%>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
