<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Odinbook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
     <%= render partial: "shared/nav" if user_signed_in? %>

    <main>
        <div id="page-container" class="b-page-container min-h-lvh w-full flex flex-col justify-start items-center bg-gray-200 font-roboto">

            <div class="b-wrapper h-full w-6xl flex mt-18 gap-4 mb-2">
                <%= yield %>
               <div class="b-left-sidebar max-w-xs pl-2 pt-2 shrink-0">
                  <%= render partial: "shared/left-sidebar" if user_signed_in? %>
               </div>

               <div class="b-wrapper h-auto w-full flex flex-col gap-2 p-2">
                   
                    <%= yield :profile %>

                    <div class="container flex justify-between gap-2">
                        <%= yield :main %>
                        <%= yield :friends %>
                        <%= yield :invitations %>
                    </div>
                  <%= yield :right_sidebar %>      
               </div>

            </div>  
        </div>

      <div id="post-modal" class="new-post-container">
        <%= yield :modal%>
      </div>

   
      
    </main> 

  </body>
</html>
