<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Odinbook" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    
  </head>

  <body data-controller="go-up">
     <%= render partial: "shared/nav" if user_signed_in? %>
     <div class="wrapper h-lvh max-w-dvw">
        <div class="main flex flex-col h-full">
           <div id="page-container" class="b-page-container grow-1 w-full flex flex-col justify-start items-center bg-gray-200 font-roboto">
                      <%= yield :login %>
                      <div id="wrapper" class="b-wrapper h-full w-6xl flex mt-18 gap-4 mb-2">
                  
                        <%= yield :info %>
                        <%= yield :notice %>
                         <div class="b-left-sidebar max-w-xs pl-2 pt-2 shrink-0">
                            <%= render partial: "shared/left-sidebar" if user_signed_in? %>
                         </div>
                         <div class="b-wrapper h-auto w-full flex flex-col gap-2 p-2">
                             
                              <%= yield :profile %>
                              <div class="container flex justify-between gap-2">
                                  <%= yield :main %>
                                  <%= yield :friends %>
                                  <%= yield :invitations %>
                              </div>
                           
                         </div>
                          <%= yield :right_sidebar %>      
                      </div>
                  <div id="post-modal" class="new-post-container">
                    <%= yield :modal%>
                  </div>
          </div>  
      </div>
       
        <footer id="footer" class="footer bg-gray-200 p-2 border-t-1 border-gray-300">
          <div class=" footer-content text-base flex items-center justify-center text-gray-400">
                <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="#" class="hover:text-gray-700 transition-colors">Odinbook™</a>
                      <span class="mx-2">•</span> 
                <a href="https://github.com/jaws-1684" target="_blank" class="hover:text-gray-700 transition-colors">GitHub</a>
              </span> 
          </div>
        </footer>
     </div>
    
    <style><%= yield :stylesheets %></style>
  </body>
</html>

